.form {
    padding: 30px;
    display: flex;
    gap: 30px;
}

.item-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.label-form {
    color: rgba(17, 110, 240, 0.7);
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 5px;
}

.input-form {
    padding: 5px;
    border-radius: 5px;
    width: 250px;
}

.btn-form {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: transparent;
    border-radius: 5px;    
    height: 40px;
    margin-top: 26px;   
}

.btn-form:active {   
    transform: scale(1.05);
}