.item {
    display: flex;
    width: 600px;
}

.btn-delete {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: transparent;
    border-radius: 5px;        
    margin-left: 10px;
    height: 25px;
}

.btn-delete:active {
    transform: scale(1.05);
}